<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="myApp.properties"/>
    <!--    создания объекта-->
    <bean id="myPed" class="ru.suleymanovtat.model.bean.Dog"/>

    <!--    передача данных через конструктор-->
    <bean id="person" class="ru.suleymanovtat.model.bean.Person">
        <constructor-arg ref="myPed"/>
    </bean>

    <!--    передачи данных через сеттеры-->
    <bean id="people" class="ru.suleymanovtat.model.bean.People">
        <property name="animal" ref="myPed"/>
    </bean>

    <!--    передачи значения через сеттеры-->
    <bean id="cat" class="ru.suleymanovtat.model.bean.Cat">
        <property name="name" value="Kissa"/>
        <property name="age" value="99"/>
    </bean>

    <!--    получение данных из myApp.properties-->
    <bean id="phone" class="ru.suleymanovtat.model.bean.Phone">
        <property name="name" value="${phone.name}"/>
        <property name="model" value="${phone.model}"/>
    </bean>

    <!--    scope="singleton" по умолчанию-->
    <!--    1.13 Методы init и destroy-->
    <!--    singleton вызывается destroy-->
    <!--    prototype  destroy не вызывается(надо самому вызвать)-->
    <bean id="table" class="ru.suleymanovtat.model.bean.Table"
          scope="prototype"
          init-method="init"
          destroy-method="destroy">
        <constructor-arg value="realme"/>
    </bean>

</beans>